name: .NET Test

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '7.x.x'

    - name: Restore dependencies
      run: |
        cd ./ServiceResponse
        dotnet restore
      working-directory: ./ServiceResponse

    - name: Build and test
      run: dotnet test --configuration Release --logger trx
      working-directory: ./ServiceResponse

    - name: Upload test results
      uses: actions/upload-artifact@v2
      with:
        name: test-results
        path: |
          ./ServiceResponse/TestResults/*.trx
